[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://wget.la/https://github.com/Slamtec/rplidar_ros.git
	branch = ros2
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://wget.la/https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-development
[submodule "src/ugv_sdk"]
	path = src/ugv_sdk
	url = https://wget.la/https://github.com/agilexrobotics/ugv_sdk.git
[submodule "src/bunker_ros2"]
	path = src/bunker_ros2
	url = https://wget.la/https://github.com/agilexrobotics/bunker_ros2.git
